<div class="main users-edit">
    <div class="container">
      <div class="form-heading">Edit Account</div>
      <div class="form users-form">
        <div class="form-body">
          <p>Name</p>
          <!-- Add an <input> tag with the @user's name as the default value -->
          <input value="<%= @user.name %>">
          <p>Email</p>
          <!-- Add an <input> tag with the @user's email as the default value -->
          <input value="<%= @user.email %>">
          <input type="submit" value="Save">
        </div>
      </div>
    </div>
  </div>