<div class="main users-new">
    <div class="container">
      <div class="form-heading">Log in</div>
      <div class="form users-form">
        <div class="form-body">
          <p>Email</p>
          <input type="email">
          <p>Password</p>
          <input type="password">
          <input type="submit" value="Log in">
        </div>
      </div>
    </div>
  </div>