<div class="main users-new">
    <div class="container">
      <div class="form-heading">Sign up</div>
      <div class="form users-form">
        <div class="form-body">
          <p>Name</p>
          <input>
          <p>Email</p>
          <input>
          <input type="submit" value="Sign up">
        </div>
      </div>
    </div>
  </div>