<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">Create a new post</h1>
    <div class="form">
      <div class="form-body">
        <textarea></textarea>
        <input type="submit" value="Post">
      </div>
    </div>
  </div>
</div>